@mushroomWidth: 380px;
@mushroomHeight: 540px;
html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    .mushroom-wrap {
        width: 100%;
        height: 100%;
        .mushroom-flex {
            display: flex;
        }
        .mushroom-cursor__pointer {
            cursor: pointer;
        }
        .mushroom-position__absolute {
            position: absolute;
        }
        .mushroom-is-selected {
            background: #808080;
        }
        .mushroom-m-top-small {
            margin: .25rem 0 0 0;
        }
        .mushroom-m-top_medium {
            margin: 1rem 0 0 0;
        }
        .mushroom-m-top_large {
            margin: 1.5rem 0 0 0;
        }
        .mushroom-m-right-small {
            margin: 0 .25rem 0 0;
        }
        .mushroom-m-right_medium {
            margin: 0 1rem 0 0;
        }
        .mushroom-m-right_large {
            margin: 0 1.5rem 0 0;
        }
        .mushroom-p-horizontal-small {
            padding: 0 .25rem;
        }
        .mushroom-p-horizontal_medium {
            padding: 0 1rem;
        }
        .mushroom-p-horizontal_large {
            padding: 0 1.5rem;
        }
        .mushroom-icon {
            fill: #706e6b;
            width: 1.5rem;
            height: 1.5rem;
            &:hover {
                fill: #1E90C1;
            }
        }
        .mushroom-hide {
            display: none;
        }
        .mushroom-header {
            .mushroom-menus-wrap {
                user-select: none;
                .mushroom-menus {
                    position: relative;
                    cursor: pointer;
                }
                .mushroom-menus-list {
                    background: #FFF;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
                    border: 1px solid #dddbda;
                    margin: 0 1px;
                    .mushroom-menus-list__item {
                        cursor: pointer;
                        &:hover {
                            background-color: #f3f2f2;
                        }
                    }
                }
            }
            .mushroom-submenus-wrap {
                display: block;
            }
        }
        .mushroom-content {
            width:  100%;
            height: 100%;
            .mushroom-webview {
                width: 100%;
                height: 100%;
            }
            .mushroom-webview__visibility {
                visibility: hidden;
            }
        }
        .mushroom-footer {}
    }
}