html,
body[ng-controller="appController"] {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    canvas {
        display: none;
    }
    .login_box {
        top: 0px;
        left: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    div[ng-controller="loginController"] {
        height: auto;
        width: 100%;
        -webkit-app-region: drag;
        div.logo,
        div.lang,
        div.copyright {
            display: none;
        }
        div.login_box {
            display: inline-block;
            position: static;
            top: 0px;
            left: 0px;
            margin: 0;
        }
    }
    .visiable {
        visibility: hidden;
    }
}